@mixin radius ($value) {
    --webkit-border-radius: $value;
    --moz-border-border-radius: $value;
}

%centerOnTheElement {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

%primaryFont {
    font-family: 'Lora', serif;
    font-weight: 600;
}

%secondFont {
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 400;
}

%secondPrimaryFont {
    font-family: 'Playfair Display', serif;
    font-weight: 800;
}

%secondSecondFont {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
}