$primaria:#eee;
$secondaria:#fff;
$terciaria:#333;

/*               elemento ativo                       */

$active:#efa;

/*            fonts                      */

$first-font-title:"'Lora', serif";
$first-font-body:"'Alegreya Sans', sans-serif";
$second-font-title:"'Playfair Display', serif";
$second-font-body:"'Montserrat', sans-serif";

/*                 font-size               */

$normal-size:1.5rem;
$title-size:2rem;